.back-to-top {
  position: fixed;
  right: 20px;
  bottom: 40px;

  display: none;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  background-color: #00000040;
  border-radius: 10px;

  transition: .2s;

  /* 鼠标悬浮变小手 */
  cursor: pointer;
}

.back-to-top:hover {
  background-color: #ffffff40;
  box-shadow: 0 0 10px 1px #ffffff50;
}