/* 动态背景 */
@import url('./index-app-background.css');

/* 头部CSS */
@import url('./index-header.css');
/* 主体CSS */
@import url('./index-main.css');
/* 底部CSS */
@import url('./index-footer.css');

/* 回到顶部 */
@import url('./index-back-to-top.css');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

#app {
  width: 100%;
  min-height: 100vh;
}




/* 设置滚动条的宽度和背景色 */
::-webkit-scrollbar {
  width: 10px;
  background-color: #ecb4dc;
}

/* 设置滚动条的滑块颜色和形状 */
::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 10px;
}