footer {
  padding: 20px;
  background-color: #1a1a1a;
}

/* ---------- 信息 ---------- */
.footer-info {
  display: flex;
}

/* 内容 */
.footer-info-content {
  width: 100%;
}

.footer-info-content .title {
  margin: 20px 0;
}

.footer-info-content .title .logo {
  display: inline-block;
  width: 40px;
}

.footer-info-content .title .logo img {
  width: 100%;
}

.footer-info-content .title .name {
  display: inline-block;
  color: #7700ff;
}

.footer-info-content .title .name h2 {
  font-size: 25px;
  font-family: 'youyuan';
}

.footer-info-content .title .name p {
  font-size: 14px;
  font-family: 'simhei';
}

.footer-info-content .content {
  color: #6c757d;
  font-size: 14px;
}

/* 链接 */
.footer-info-link {
  padding: 20px;
  width: 100%;
}

.footer-info-link a {
  display: inline-block;
  margin: 4px;
  padding: 8px;
  width: 35px;
  height: 35px;
  background-color: #363738;
  border-radius: 10px;
  transition: .2s;
}

.footer-info-link a:hover {
  background-color: #202224;
}

.footer-info-link a img {
  width: 100%;
}

/* 二维码 */
.footer-info-QR {
  padding: 20px 0;
  width: 100%;
  text-align: right;
}

.footer-info-QR .QR {
  display: inline-block;
  margin: 0 10px;
  width: 100px;
}

.footer-info-QR .QR .url {
  padding: 5px;
  width: 100px;
  height: 100px;
  background-color: #363738;
  border-radius: 5px;
}

.footer-info-QR .QR img {
  width: 100%;
  height: 100%;
}

.footer-info-QR .QR .title {
  margin: 10px 0;
  color: #6c757d;
  font-size: 10px;
  text-align: center;
}




/* ---------- 版权 ---------- */
.footer-copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  color: #6c757d;
  font-size: 12px;
}

.footer-copyright a {
  color: #c6c9cf;
}




/* ---------- 移动端适配 ---------- */
@media(max-width:600px) {

  /* ---------- 信息 ---------- */
  .footer-info {
    flex-wrap: wrap;
  }

  .footer-info-content .title {
    text-align: center;
  }

  .footer-info-content .content {
    text-align: center;
  }

  .footer-info-link {
    text-align: center;
  }

  .footer-info-QR {
    text-align: center;
  }

  /* ---------- 版权 ---------- */
  .footer-copyright {
    display: block;
    text-align: center;
  }

  .footer-copyright .copyright {
    display: block;
    margin-bottom: 10px;
  }

  .footer-copyright .version {
    display: block;
    color: #505050;
    font-size: 10px;
  }
}